<div class="phone" data-key="{{id}}">
    <a {{#if @root.unlockOthers}}onclick="window.location.href = '/update?id={{id}}'"{{/if}}>
        <td>
            <tr>{{fio}}</tr>
            <tr>{{number}}</tr>
        </td>
    </a>
</div>