<p>index</p>
<div class="form-part list">
    <div class="list-container">
        {{#each phones}}
            {{>phone}}
        {{/each}}
    </div>
</div>
<div class="form-part control">
    <a onclick="window.location.href = '/add'">Add</a>
</div>
