<div class="form-part list" style="height: auto;">
    <div class="list-container" style="height: auto;">
        {{#each phones}}
            {{>phone}}
        {{/each}}
    </div>
</div>
<div class="form-part edit" data-key="{{targetPhone.id}}">
    <div class="controls-wrapper">
        <input type="text" name="fio" placeholder="fio" value="{{targetPhone.fio}}">
        <input type="text" name="number" placeholder="number" value="{{targetPhone.number}}">
        <a class="form-part control" onclick="update()">Update</a>
        <a class="form-part control" onclick="remove()">Delete</a>
    </div>
</div>
<div class="controls-wrapper">
    <div class="form-part control" style="margin-left: .25rem;">
        <a onclick="{{goBack}}">Back</a>
    </div>
</div>
